<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@project.name} - " if @project %><%= t('fulcrum') %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    I18n.fallbacks = true;
  </script>
</head>
<body class="<%= "#{controller_name} #{controller_name}_#{action_name}" %>">

<div id="header">
  <ul id="primary-nav">
    <li class="root"><%= link_to t('fulcrum'), root_path %></li>
    <% if current_user %>
      <li<%= ' class="secondary"'.html_safe if current_user.projects.present? %>>
        <%= link_to Project.model_name.human.pluralize, root_path %>
        <i class="icon-caret-down"></i>
        <%- if current_user.projects.present? -%>
          <ul>
            <%- current_user.projects.each do |project| -%>
              <li><%= link_to project, project %></li>
            <%- end -%>
          </ul>
        <%- end %>
      </li>
      <li><span class="user_icon"><%= image_tag current_user.gravatar_url %></span><%= link_to current_user.email, edit_user_registration_path %></li>
      <li class="login"><%= link_to t('log out'), destroy_user_session_path,
                      :method => :delete %><i class="icon-signout"></i></li>
    <% else %>
      <li class="login"><%= link_to t('log in'), new_user_session_path %><i class="icon-signin"></i></li>
      <%- unless Fulcrum::Application.config.fulcrum.disable_registration %>
      <li class="login"><%= link_to t('sign up'), new_user_registration_path %><i class="icon-signin"></i></li>
      <% end -%>
    <% end %>
  </ul>
</div>

<div id="title_bar">
  <%= yield :title_bar %>
</div>

<div id="main">
  <%= show_messages %>

  <%= yield %>
</div>

</body>
</html>

